In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Raw Sales Data.csv")

In [3]:
data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [5]:
data["Qty"] = data["Qty"].str.replace(',','').astype(float)

In [6]:
data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,"4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,"13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,"7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,"3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,"4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,"5,82,600"

In [7]:
data['Sales'] = data["Sales"].str.replace(',','').astype(float)

In [8]:
data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0

In [9]:
data['Month'] = pd.to_datetime(data['Month'])

In [10]:
data['Sales Month'] = data['Month'].dt.month_name(locale = 'English')
data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Sales Month
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,December
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,December
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,December
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,December
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,December
...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0,March
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0,March
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0,March
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0,March
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0,March

In [11]:
data["Product"] = data["Product Name"].apply(lambda x: re.split('(\d+)',x)[0])
data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Sales Month,Product
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,December,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,December,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,December,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,December,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,December,NEEM JUICE
...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0,March,ORGANIC GULKAND
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0,March,ALOE + GARCINIA JUICE
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0,March,AMLA JUICE
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0,March,GET SLIM JUICE
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0,March,RAW HONEY ( MADHU)

### Monthwise number of quantities sold

In [12]:
data1=pd.DataFrame(data.groupby(data["Sales Month"])["Qty"].sum()).reset_index()
data1

  Sales Month      Qty
0    December  85427.0
1    February  76393.0
2     January  67732.0
3       March  80229.0

### Category wise Qty sold

In [13]:
data2=pd.DataFrame(data.groupby(data["Category"])["Qty"].sum()).reset_index()
data2

               Category       Qty
0  Functional nutrition   42354.0
1     Gourmet Nutrition   89279.0
2                Juices  178148.0

### Sub-channel wise total sales

In [14]:
# data["Total Sales"] = data["Qty"]*data["Sales"]
# data

In [15]:
data3 = pd.DataFrame(data.groupby(data["Sub-Channels"])["Sales"].sum()).reset_index()
data3

         Sub-Channels       Sales
0              AMAZON  35606804.0
1          Big Basket   1207522.0
2                 D2C  28047538.0
3            Flipkart   3770415.0
4               GOQII    582600.0
5   Offline - Central    375332.0
6      Offline - East    811146.0
7        Offline - MT   6257948.0
8     Offline - South   3446395.0
9      Offline - West   6441427.0
10     Offline -North   1206564.0

### Highest sale in which month

In [29]:
data4=pd.DataFrame(data.groupby(data["Sales Month"])["Sales"].sum()).reset_index().max()
data4

Sales Month         March
Sales          25127827.0
dtype: object

In [30]:
# plt.figure(figsize=(13,4))
# dashboard = data4.plot.bar(x='Sales Month',y='Sales')

### Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [18]:

data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Sales Month,Product
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,December,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,December,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,December,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,December,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,December,NEEM JUICE
...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0,March,ORGANIC GULKAND
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0,March,ALOE + GARCINIA JUICE
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0,March,AMLA JUICE
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0,March,GET SLIM JUICE
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0,March,RAW HONEY ( MADHU)

In [19]:
# data['Product'] = data['Product Name'].apply(lambda x: x.split()[:-2])
# data

In [20]:
# new = list()
# for i in data["Product"]:
#     string = " "
#     for j in i:
#         string = string +"" + j
#     new.append(string)
        
# data['Product'] = new

In [21]:
data5 = pd.DataFrame(data.groupby(data["Product"]).sum().sort_values("Sales",ascending = False)).head()
data5

                            Qty       Sales
Product
ALOE + GARCINIA JUICE   23585.0  12249252.0
HIMALAYA OIL             8009.0  12000055.0
GET SLIM JUICE          24731.0   9122552.0
ALOE VERA JUICE         28788.0   6024517.0
AMLA JUICE              34378.0   5862740.0

In [22]:
# months = range(1,6)
# plt.figure(figsize=(13,4))
# plt.bar(data5["Product"],data5['Sales'])
# plt.show()

In [24]:
# plt.figure(figsize=(13,4))
# dashboard = data5.plot.bar(x='Product',y='Sales')
# # plt.show()
# d=pd.DataFrame(dashboard)

### # List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
# SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [27]:
List_of_platfrom = pd.DataFrame(data.groupby(["Sub-Channels","Product"]).sum()["Sales"])
List_of_platfrom.sort_values(["Sub-Channels","Sales"],ascending=False)

                                                   Sales
Sub-Channels   Product
Offline -North APPLE CIDER VINEGAR              431146.0
               ALOE VERA SKIN GEL               365032.0
               ORGANIC JAGGERY POWDER           146097.0
               AMLA JUICE                        95019.0
               ALOE VERA JUICE                   90059.0
...                                                  ...
AMAZON         TRIPHALA JUICE                   798749.0
               APPLE CIDER VINEGAR              736143.0
               NEEM JUICE                       704106.0
               AMLA + GILOY JUICE               217029.0
               MASALA SUPERGRAIN MIX IMMUNITY   159496.0

[85 rows x 1 columns]

### Create a single excel file to save all the outputs generated above in different subsheets. Email final
### output file and your python code (.ipynb) file to ranotiyahemant@gmail.com

In [ ]:
# writer = pd.ExcelWriter('kite_pnl_calculated.xlsx', engine='xlsxwriter')
# df.to_excel(writer, sheet_name='Data', index=False)
# df_final.to_excel(writer, sheet_name='Summary', index=False)
# writer.save()
# df_final

In [31]:
writer = pd.ExcelWriter("Row_data_sales_analytics.xlsx", engine='xlsxwriter')
data.to_excel(writer, sheet_name="Data")
data1.to_excel(writer, sheet_name="Month Qty Sold")
data2.to_excel(writer ,sheet_name="Category Qty Sold")
data3.to_excel(writer , sheet_name="sub-channel sales")
data4.to_excel(writer , sheet_name="Month Higest sales")
data5.to_excel(writer , sheet_name="Higest selling product")
List_of_platfrom.to_excel(writer , sheet_name="sub-channel And Product")
# dashboard.to_excel(writer , sheet_name="DashBoard")
writer.save()